:root {
  --branding-color: #c4e63a;
  --secondary-color: #552e5a;
  --third-color: #fcf5e0;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box h3 {
  font-size: 32px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  color: var(--third-color);
}

footer .contact-box p {
  margin: 0;
  font-size: 15px;
  color: var(--branding-color);
}
footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 22px;
  margin-top: 10px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--third-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--branding-color);
}
footer p {
  color: var(--secondary-color);
}

/* nav section*/
.nav {
  padding: 20px 0px;
}

.brand {
  font-size: 40px;
  font-family: "Monoton", cursive;
  color: var(--secondary-color);

  margin-left: 40px;
}
.nav-item {
  margin-top: 17px;
  margin-right: 12px;
  padding: 0 10px;
  line-height: 14px;
  font-size: 15px;
}
/* end nav section*/

/* hero section*/
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 115px 20px;
}
.hero h1 {
  color: var(--third-color);
  font-size: 96px;
  line-height: 1.5;
}
.hero h2 {
  font-family: var(--default-font-family);
  color: var(--third-color);
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
}
.hero p {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  color: white;
}

/* container section*/
.container {
  padding: 50px 60px;
}
/* about-page*/
.about-page {
  padding: 20px 45px;
}
.about-page h1 {
  font-size: 55px;
  line-height: 80px;
  color: var(--secondary-color);
}
.about-page h2 {
  font-size: 17px;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}
.about-page p {
  font-size: 14px;
}
/* work-page*/
.work-page {
  padding: 20px 60px;
}
.work-page h1 {
  font-size: 50px;
  line-height: 80px;
  color: var(--secondary-color);
}
.work-page h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  color: var(--secondary-color);
}
.work-page p {
  font-size: 14px;
}
/* contact-page*/
.contact-page {
  padding: 20px 60px;
}
.contact-page h1 {
  font-size: 55px;
  line-height: 80px;
  color: var(--secondary-color);
}
.contact-pagep {
  font-size: 14px;
}

/* project dicription section*/
.project-discription {
  padding-top: 30px;
  padding-right: 25px;
}
.project-discription h2 {
  font-size: 30px;
}

/* btn section*/
.btn-branding {
  background: var(--third-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  background: var(--branding-color);
}
.btn-branding2 {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--third-color);
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding2:hover {
  background: var(--branding-color);
}
.btn-branding-outline {
  background: var(--secondary-color);
  color: var(--third-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background: var(--branding-color);
}

/*contactpage links*/
.communication {
  color: var(--branding-color);
}
.communication:hover {
  color: var(--secondary-color);
}

/*open source link*/
.source {
  color: #a5c133;
  text-decoration: none;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  footer .email-link {
    font-size: 16px;
  }
  footer p {
    font-size: 10px;
  }
  .container {
    text-align: center;
    padding: 0;
  }
  .brand {
    font-size: 25px;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .about-page {
    text-align: center;
    padding: 0;
  }
  .about-page h1 {
    font-size: 35px;
  }
  .about-page h2 {
    font-size: 18px;
  }
  .work-page {
    text-align: center;
    padding: 20px 20px;
  }
  .work-page h1 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .project-discription h2 {
    font-size: 20px;
  }

  .contact-page h1 {
    font-size: 28px;
    margin-top: 5px;
  }
  .contact-page {
    text-align: center;
    padding: 0;
  }

  .contact-page a {
    font-size: 10px;
  }
}
